:root {
    --backgroundColor : rgb(215,210,210);
    --color: #333;
    --bottonColor: grey;
}
:root[theme = 'dark'] {
    --backgroundColor : #333;
    --backgroundColor2 : #abb;
    --color : #eee;
    --bottonColor:white;
}

#numOfTickets2{
    display: none;
}
body{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--backgroundColor);

    
}

h1{
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.inputsContainer{
    margin-top: 6rem;
    padding-left: 10rem;
    width: 60%;
    

}
.input{
    
    margin: 1rem;
}

#submitButton{
    background-color: darkgray;
}
toggle{
    position:fixed;
    bottom: 0.5em;
    right: 0.3em;
    padding: 0.4em;
    border-radius: 5px;
}